    <div>
      <% @menus.each do |menu| %>
          <%= image_tag menu.user.get_profile_image(50,50),class: "rounded-circle" %>
          <p><%= menu.user.name %></p>

          <%= link_to public_menu_path(menu) do %>
           <%= image_tag menu.get_image, size: '320x240' %>
          <% end%>

          <p>メニュー1：<%= menu.menu_name_1 %></p>

          <% if  menu.menu_name_2.present? %>
           <p>メニュー2：<%= menu.menu_name_2 %></p>
          <% end %>

          <% if  menu.menu_name_3.present? %>
           <p>メニュー3：<%= menu.menu_name_3 %></p>
          <% end %>

          <% if  menu.menu_name_4.present? %>
           <p>メニュー4：<%= menu.menu_name_4 %></p>
          <% end %>

          <% if  menu.menu_name_5.present? %>
           <p>メニュー5：<%= menu.menu_name_5 %></p>
          <% end %>

          <% if  menu.menu_name_6.present? %>
           <p>メニュー6：<%= menu.menu_name_6 %></p>
          <% end %>

          <% if  menu.menu_name_7.present? %>
           <p>メニュー7：<%= menu.menu_name_7 %></p>
          <% end %>

          <% if  menu.menu_name_8.present? %>
           <p>メニュー8：<%= menu.menu_name_8 %></p>
          <% end %>

      <% end %>
    </div>