<p class="text-success ml-5"><%= flash[:notice] %></p>
<p class="text-danger ml-5"><%= flash[:alert] %></p>

<h2 class="text-center mt-4"><strong><i class="fa-regular fa-calendar-days"></i><%= current_user.name %>の献立日記</strong></h2>
 <div class='calender mb-5'>
  <%= month_calendar events: @menus do |date, menus| %>
　  <%= date.day %>

 　  <% menus.each do |menu| %><!--カレンダーの中身-->
      <div class="row ml-1 mr-1">
        <%= link_to public_menu_path(menu.id) do %>
           <%= image_tag menu.get_image, size: '80x60', class:"index_image" %>
        <% end %>
      </div>
    <% end %>
  <% end %>
 </div>