<h2 class="text-center mt-4"><strong><%= current_user.name %>の献立日記</strong></h2>
<div class= 'calender'>
  <%= month_calendar events: @menus do |date, menus| %>
  　<%= date.day %>

  　 <% menus.each do |menu| %>
      <div>
       <%= link_to public_menu_path(menu.id) do %>
         <%= image_tag menu.get_image, size: '80x60' %>
       <% end %>
      </div>
    <% end %>
  <% end %>
</div>
