<div class="container">
  <div class="row">
    <div class='col-md-12'>
      <h1><strong>献立投稿フォーム</strong></h1>
 <div class="row mt-4">
   <%= render 'layouts/error_messages', model: @menu %>
  <div class="col-md-4">
   <%= form_with model: @menu, url: public_menus_path do |f| %>

        <h4>献立画像</h4>
          <%= f.file_field :image, accept: "image/*" %>

        <h4 class="mt-3">一言コメント</h4>
          <%= f.text_area :comment, placeholder: "コメントを入力してください(必須)"  %>
        <h4 class="mt-3">日付</h4>
          <%= f.datetime_select :start_time %>

        <div class="check_box mt-5">
          <span>タグ</span>
          <%= f.collection_check_boxes(:tag_ids, Tag.all, :id, :name) do |tag| %>
         <div>
           <%= tag.label do %>
             <%= tag.check_box %>
             <%= tag.text %>
           <% end %>
         </div>
         <% end %>
        </div>
  </div>

  <div class="col-md-4">
        <h4>主食</h4>
          <%= f.text_field :menu_name_1, placeholder: "例：炊き込みご飯"  %>
        <h4>使用した食材(主食)</h4>
          <%= f.text_area :food_detail_1 %>
        <h4>汁物</h4>
          <%= f.text_field :menu_name_2, placeholder: "例：あさりの味噌汁"  %>
        <h4>使用した食材(汁物)</h4>
          <%= f.text_area :food_detail_2 %>
        <h4>主菜</h4>
          <%= f.text_field :menu_name_3, placeholder: "例：生姜焼き"  %>
        <h4>使用した食材(主菜)</h4>
          <%= f.text_area :food_detail_3 %>
        <h4>主菜2</h4>
          <%= f.text_field :menu_name_4 %>
        <h4>使用した食材(主菜2)</h4>
          <%= f.text_area :food_detail_4 %>
  </div>
  <div class="col-md-4">
        <h4>副菜</h4>
          <%= f.text_field :menu_name_5, placeholder: "例：茄子の煮びたし"  %>
        <h4>使用した食材(副菜)</h4>
          <%= f.text_area :food_detail_5 %>
        <h4>副菜2</h4>
          <%= f.text_field :menu_name_6, placeholder: "例：ポテトサラダ"  %>
        <h4>使用した食材(副菜2)</h4>
          <%= f.text_area :food_detail_6 %>
        <h4>副菜3</h4>
          <%= f.text_field :menu_name_7, placeholder: "例：ニンジンのグラッセ" %>
        <h4>使用した食材(副菜3)</h4>
          <%= f.text_area :food_detail_7 %>
        <h4>その他</h4>
          <%= f.text_field :menu_name_8, placeholder: "例：杏仁豆腐"  %>
        <h4>使用した食材(その他)</h4>
          <%= f.text_area :food_detail_8 %><br>
    </div>
        <%= f.submit '投稿', class:"btn btn-success btn-block mb-5 mt-3 " %>
      <% end %>
    </div>
   </div>
  </div>
</div>