<div class="container pb-5 mt-5">
  <div class="row pb-5">
    <div class='mx-auto col-11 col-sm-10 col-lg-8 col-xl-6'>

      <div class="head mt-4 mb-3">
         <h2><strong><%= @user.name %>さんの登録情報編集</strong></h2>
      </div>
  
      <div class"row card">
         <div class="col-12 mt-4">
           <%= form_with model:@user, url:admin_user_path do |f| %>
             <div>
                  <%= f.label :"会員ID" %>
                  <%= @user.id %>
             </div>
             <div class="form-group">
                  <%= f.label :"ニックネーム" %><br>
                  <%= f.text_field :name %>
             </div>
             <div class="form-group">
                  <%= f.label :"メールアドレス" %><br>
                  <%= f.email_field :email, class:"col-12" %>
             </div>
             <div class="form-group">
                  <%= f.label :"会員ステータス" %>
                  <%= f.radio_button :is_deleted, true %>
                  <%= f.label :is_deleted, "利用停止",{value: :true, style: "display: inline-block;"} %>
                  <%= f.radio_button :is_deleted, false %>
                  <%= f.label :is_deleted, "有効",{value: :false, style: "display: inline-block;"} %>
             </div>
  
           <div class"row">
             <div class="col mt-4 text-right">
                 <%= f.submit "編集内容を保存", class:"btn btn-success" %>
                 <% end %>
             </div>
             <div>
                 <%= link_to admin_users_path, class:"btn btn-outline-info" do %>
                   <i class="fa-solid fa-arrow-left"></i>
                 <% end %>
             </div>
           </div>
         </div>
      </div>
      
    </div>
  </div>
</div>
