<div class="container pb-5">
  <div class="row">
    <div class="col-md-8 mt-4">
      <h2>投稿詳細</h2>
    </div>

    <div class="col-md-4 mt-4">
      <%= link_to "投稿削除",  admin_menu_path(@menu), method: :delete, class:"btn btn-sm btn-outline-danger" %>
    </div>
  </div>

  <div class="row">
    <div class="col-md-6">
       <%= image_tag @menu.get_image, size: '432x324', class:"post_img" %>
       <p>一言コメント：<%= @menu.comment %></p>
    </div>

    <div class="col-md-6 pb-5">
       <!--カラムに値が入っていれば表示-->
       <% if  @menu.menu_name_1.present? %>
        <p>主食：<%= @menu.menu_name_1 %></p>
       <% end %>
       <% if  @menu.food_detail_1.present? %>
        <P>使用した食材(主食)：<%= @menu.food_detail_1 %></p>
       <% end %>

       <% if  @menu.menu_name_2.present? %>
        <p>汁物：<%= @menu.menu_name_2 %></p>
       <% end %>
       <% if  @menu.food_detail_2.present? %>
        <P>使用した食材(汁物)：<%= @menu.food_detail_2 %></p>
       <% end %>

       <% if  @menu.menu_name_3.present? %>
        <p>主菜：<%= @menu.menu_name_3 %></p>
       <% end %>
       <% if  @menu.food_detail_3.present? %>
        <P>使用した食材(主菜)：<%= @menu.food_detail_3 %></p>
       <% end %>

       <% if  @menu.menu_name_4.present? %>
        <p>主菜2：<%= @menu.menu_name_4 %></p>
       <% end %>
       <% if  @menu.food_detail_4.present? %>
        <P>使用した食材(主菜2)：<%= @menu.food_detail_4 %></p>
       <% end %>

       <% if  @menu.menu_name_5.present? %>
        <p>副菜：<%= @menu.menu_name_5 %></p>
       <% end %>
       <% if  @menu.food_detail_5.present? %>
        <P>使用した食材(副菜)：<%= @menu.food_detail_5 %></p>
       <% end %>

       <% if  @menu.menu_name_6.present? %>
        <p>副菜2：<%= @menu.menu_name_6 %></p>
       <% end %>
       <% if  @menu.food_detail_6.present? %>
        <P>使用した食材(副菜2)：<%= @menu.food_detail_6 %></p>
       <% end %>

       <% if  @menu.menu_name_7.present? %>
        <p>副菜3：<%= @menu.menu_name_7 %></p>
       <% end %>
       <% if  @menu.food_detail_7.present? %>
        <P>使用した食材(副菜3)：<%= @menu.food_detail_7 %></p>
       <% end %>

       <% if  @menu.menu_name_8.present? %>
        <p>その他：<%= @menu.menu_name_8 %></p>
       <% end %>
       <% if  @menu.food_detail_8.present? %>
        <P>使用した食材(その他)：<%= @menu.food_detail_8 %></p>
       <% end %>

       <p>作成日：<%= @menu.start_time.strftime('%Y/%m/%d') %></p>


       <!--コメント機能-->
       <div class="border-top">
         <h6 class="mt-3"><i class="fa-regular fa-comments"></i>コメント</h6>
          <table>
            <tbody id="comment-index" >
             <%= render "public/comments/comment", menu: @menu %>
            </tbody>
          </table>
       </div>
  </div>
</div>