<h2>投稿詳細</h2>
<div>
  <%= image_tag @menu.get_image, size: '640x480' %>

  <p>一言コメント：<%= @menu.comment %></p>

  <!--カラムに値が入っていれば表示-->
  <% if  @menu.menu_name_1.present? %>
   <p>主食：<%= @menu.menu_name_1 %></p>
  <% end %>
  <% if  @menu.food_detail_1.present? %>
   <P>使用した食材(主食)：<%= @menu.food_detail_1 %></p>
  <% end %>

  <% if  @menu.menu_name_2.present? %>
   <p>汁物：<%= @menu.menu_name_2 %></p>
  <% end %>
  <% if  @menu.food_detail_2.present? %>
   <P>使用した食材(汁物)：<%= @menu.food_detail_2 %></p>
  <% end %>

  <% if  @menu.menu_name_3.present? %>
   <p>主菜：<%= @menu.menu_name_3 %></p>
  <% end %>
  <% if  @menu.food_detail_3.present? %>
   <P>使用した食材(主菜)：<%= @menu.food_detail_3 %></p>
  <% end %>

  <% if  @menu.menu_name_4.present? %>
   <p>主菜2：<%= @menu.menu_name_4 %></p>
  <% end %>
  <% if  @menu.food_detail_4.present? %>
   <P>使用した食材(主菜2)：<%= @menu.food_detail_4 %></p>
  <% end %>

  <% if  @menu.menu_name_5.present? %>
   <p>副菜：<%= @menu.menu_name_5 %></p>
  <% end %>
  <% if  @menu.food_detail_5.present? %>
   <P>使用した食材(副菜)：<%= @menu.food_detail_5 %></p>
  <% end %>

  <% if  @menu.menu_name_6.present? %>
   <p>副菜2：<%= @menu.menu_name_6 %></p>
  <% end %>
  <% if  @menu.food_detail_6.present? %>
   <P>使用した食材(副菜2)：<%= @menu.food_detail_6 %></p>
  <% end %>

  <% if  @menu.menu_name_7.present? %>
   <p>副菜3：<%= @menu.menu_name_7 %></p>
  <% end %>
  <% if  @menu.food_detail_7.present? %>
   <P>使用した食材(副菜3)：<%= @menu.food_detail_7 %></p>
  <% end %>

  <% if  @menu.menu_name_8.present? %>
   <p>その他：<%= @menu.menu_name_8 %></p>
  <% end %>
  <% if  @menu.food_detail_8.present? %>
   <P>使用した食材(その他)：<%= @menu.food_detail_8 %></p>
  <% end %>

 <p>作成日：<%= @menu.start_time.strftime('%Y/%m/%d') %></p>
</div>


  <div><%= link_to "投稿削除",  admin_menu_path(@menu), method: :delete %></div>
<!--コメント機能-->
       <table>
         <tbody id="comment-index" >
          <%= render "public/comments/comment", menu: @menu %>
         </tbody>
       </table>
