<!DOCTYPE html>
<html>
  <head>
    <title>Kondatenikki</title>
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>
    <%= stylesheet_pack_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_pack_tag 'application', 'data-turbolinks-track': 'reload' %>
　  <%= stylesheet_link_tag "application", media: "all", "data-turbolinks-track" => true %>
　  <script src="https://kit.fontawesome.com/0362e50478.js" crossorigin="anonymous"></script>
  </head>



  <body>
    <header>
    <nav class="navbar navbar-expand-sm navbar-light color" >
      <div class="container">
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNavDropdown" aria-controls="navbarNavDropdown" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
        </button>

           <!--ロゴ-->
       <div class="collapse navbar-collapse" id="navbarNavDropdown">
        <div class="float-left header-logo mt-3">
            <%= link_to root_path do %>
            <p>こんだて日記</p>
            <% end %>
        </div>


       <!--ヘッダーナビ-->
       <ul class="navbar-nav ml-auto">
        <% if user_signed_in? %>
         <li>
           <%= link_to "投稿する", new_public_menu_path, class: "btn btn-outline-dark mr-3" %>
         </li>
         <li>
           <%= link_to "日記", public_menus_path, class: "btn btn-outline-dark mr-3" %>
         </li>
         <li>
           <%= link_to "マイページ", public_user_path(current_user), class: "btn btn-outline-dark mr-3" %>
         </li>
         <li>
           <%= link_to "ログアウト", destroy_user_session_path, method: :delete, class: "btn btn-outline-dark mr-3" %>
         </li>
        <% elsif admin_signed_in? %>
         <li>
          <%= link_to "管理者TOP", admin_path, class:"btn btn-outline-dark mr-3" %>
         </li>
         <li>
          <%= link_to "投稿一覧", admin_menus_path, class:"btn btn-outline-dark mr-3" %>
         </li>
         <li>
           <%= link_to "ユーザー一覧", admin_users_path, class:"btn btn-outline-dark mr-3" %>
         </li>
         <li>
           <%= link_to "ログアウト", destroy_admin_session_path, method: :delete, class: "btn btn-outline-dark mr-3" %>
         </li>
        <% else %>

         <li>
           <%= link_to "新規登録", new_user_registration_path, class: "btn btn-outline-dark mr-3" %>
         </li>
         <li>
           <%= link_to "ログイン", new_user_session_path, class: "btn btn-outline-dark mr-3" %>
         </li>
        <% end %>
        </ul>
      </div>
      </div>
    </nav>

<!--管理者側では表示しない-->

<% if !admin_signed_in? %>
        <div class="container mt-3">
          <div class="row">
          <!--タグ-->
          <div class="col-8">
          <%= form_tag  public_search_path, method: :get, class: 'boards__searchForm text-center' do %>
              <%= select_tag :tag_id,
                             options_from_collection_for_select(Tag.all, :id, :name, params[:tag_id]),
                             {
                               prompt: 'タグで絞り込み検索',
                               onchange: 'submit(this.form);'
                             }
              %>
            <% end %>
          </div>

          <div class="col-4">
              <!--検索-->
              <div class="search_form text-right mr-5">
                <%= form_with url: public_search_path, local: true, method: :get do |f| %>
                  <%= f.text_field :word, placeholder: "メニュー名、食材" %>
                  <%= f.submit "検索", class: "btn btn-primary" %>
                <% end %>
              </div>
          </div>
         </div>
       </div>
 <% end %>


   <main>
    <%= yield %>
   </main>

  </body>
</html>
